body
{
    color: #000000;
    font-family: Arial;
    font-size: 75%;
}
.error
{
    color: red;
    font-family: Arial;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    border: solid 1px red;
}
a
{
    font-family: Arial;
    text-decoration: none;
}
input
{
    font-family: Arial;
}
.sitemap
{
    font-size: 85%;
}
.textbox
{
    width: 250px;
}
.watermark
{
    font-family: Arial;
    border: solid 1px #BEBEBE;
    background-color: #F0F8FF;
    text-align: left;
    padding: 1px 1px 1px 1px;
}

.button 
{ 
    font-family: Verdana; 
    background-color: #dcdcdc; 
    border-top: #cccccc 1px solid; 
    border-bottom: #666666 1px solid; 
    border-left: #cccccc 1px solid; 
    border-right: #666666 1px solid; 
    width: 100px; 
}